<%- include("../partials/header.ejs") %>
<div class="col pt-4">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/song/remove">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/artist/remove">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"href="/album/remove">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/remove">User</a>
            </li>
        </ul>
    </div>
</div>

<%- include("../partials/footer.ejs") %>