/* .sidebar {
    top: 56px;
    position: fixed;
} */
.nav{
    display: block;
}
.navbar--brand{
    font-family: 'Concert One', cursive;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.navbar--search{
   display: flex;
}
.navbar--btn__login{
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 7px;
    color: white;
    border: 2px solid #00FFFF;
}
.navbar--btn__login:hover{
    background-color: #00FFFF;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 7px;
    color: black;
    border: 2px solid #00FFFF;
}
.navbar--btn__register{
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 7px;
    color: white;
    border: 2px solid #00FFFF;
}
.navbar--btn__register:hover{
    background-color: #00FFFF;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 7px;
    color: black;
    border: 2px solid #00FFFF;
}
.navbar--search__size{
    width: 30vw;
}
.username{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.login--form__logo, .register--form__logo{
    text-align: center;
}
.login--form, .register--form{
    padding: 5%;
}
.login--form__back, .register--form__back{
    position:relative;
    left: 100%;
}
.card:hover{
    padding: 1vh;
    background-color: transparent;
    background-color: rgba(164, 164, 164, 0.3);
    border: none;
}
.card{
    background-color: transparent;
    padding: 1vh;
    width: 10vw;
    border: none;
    overflow: auto;
}
.card-body{
    padding: 0;
}
.songinfo--img{
    height: 9rem;
    object-fit: scale-down;
}
.artistinfo--img{
    height: 9rem;
    border-radius: 50%;
    object-fit: scale-down;
}
.song--img,.artist--img{
    width: 100%;
    height: 9vw;
    object-fit: scale-down;
}
.songimg{
    height: 4.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.album--img{
    width: 100%;
    border-radius: 100%;
    height: 9vw;
    object-fit: scale-down;
}
.song--name, .album--name{
    font-size: 2.1vh;
    font-weight: bold;
    margin: 0;
    white-space: nowrap; 
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: #ffffff;
} 
.song--artist, .album--artist{
    text-decoration: none;
    font-size: 1.6vh;
    font-weight: bold;
    color: #B6B6B6;
}
.song--artist:hover{
    text-decoration: underline;
    font-size: 1.6vh;
    font-weight: bold;
    color: #B6B6B6;
}
.songkit, .artistkit{
    margin-left: 3vw;
}
.songkit--up__name,.artistkit--up__name{
    font-size: 1.6rem;
    font-weight: bold;
}
.songcount{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #B6B6B6;
}
.songkit--up__artist, .artistkit--up__artist{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #B6B6B6;
}
.songkit--up__artist:hover{
    text-decoration: underline;
    font-size: 1rem;
    font-weight: bold;
    color: #B6B6B6;
}
.playbtn{
    background-color: #00FFFF;
    clip-path: circle(45% at 50% 50%);
    text-align: center;
    padding-left: 1px;
    padding: 0.5rem;
    height: 2rem; 
}
.playbtn:hover{
    background-color: #00FFFF;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    padding-left: 1px;
    padding: 0.4rem;
    height: 2rem; 
}
.favbtn, .addbtn{
    margin-left: 1rem;
    width: 30px;
    height: 30px;
}

.seeall{
    font-size: 15px;
    color: #A5A5A5;
    text-decoration: none;
}
.seeall:hover{
    color: #A5A5A5;
    text-decoration: underline;
}
.category{
    color: white;
    flex: 50%;
    font-size: 3vh;
}
.home:hover{
    animation: glow 20s ease-in-out infinite alternate;
}
.table {
    margin: 0;
    border: none;
    border-style: none;
  }
tbody, td, tfoot, th, thead, tr{
      border-style: none;
  }
.option{
    padding-top: 7%;
    padding-left: 20%;
    display: inline-block;
}
.songlist{
    width: 100%;
}
.songorder{
    width: 1rem;
}

@keyframes glow {
    from{
      text-shadow: 0 0 10px rgb(42, 226, 233), 0 0 20px rgb(42, 226, 233), 0 0 30px rgb(42, 226, 233), 0 0 40px rgb(42, 226, 233),0 0 50px rgb(42, 226, 233);
    }
    to {
      text-shadow: 0 0 60px rgb(42, 226, 233), 0 0 70px rgb(42, 226, 233),;
    }
  
  }

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
 body{
    background-image: linear-gradient(90deg,#283048 0%, rgb(71, 97, 107)  100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
a span{
    color: white;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: black;
}