<%- include("../partials/header.ejs") %>
<div class="col py-4">
  <% if(error && error.length>0){ %>
    <div class='alert alert-danger' role='alert'>
        <%= error %>
    </div>
    <% } %>
        <% if(success && success.length>0){ %>
            <div class='alert alert-success' role='alert'>
                <%= success %>
            </div>
            <% } %>
    <div class="container-fluid addbg py-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/artist/new">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/album/new">Albums</a>
            </li>
          </ul>
        <h1 class="text-white pt-4">Add New Artist</h1>
        <form action="/artist" method="POST"  enctype="multipart/form-data">
            <div class="mb-3">
                <label  class="form-label text-white">Artist Name</label>
                <input type="text" class="form-control" name="artistname" placeholder="Artist Name" required>
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Image</label>
                <input type="file" class="form-control" name="image" accept='image/*' required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<%- include("../partials/LRfooter.ejs") %>